<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{%url 'index' %}">Blog</a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'about' %}">Hakkımızda</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{%url 'article:articles' %}">Makaleler</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto">

        {% if request.user.is_authenticated %}
        <li class="nav-item active nav-link" style="color: white">Merhaba {{request.user.username}} 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg></li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'article:dashboard' %}">Kontrol Paneli</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'user:logout' %}">Çıkış Yap</a>
          </li>

        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'user:register' %}">Kayıt Ol</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'user:login' %}">Giriş Yap</a>
          </li>          
        {% endif %}
      </ul>
    </div>


  </nav>