{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>Teke Tek Özel bu bölümde insanlığın bilimle tanışmasını ve bilimin tarihini masaya yatırıyor. Anadolu'da yetişen İyonyalı düşünürler bilimsel düşüncenin gelişmesi konusunda nasıl rol oynadılar? Antik Yunan felsefecilerinin hangi fikirleri bilimin ve insanlığın bugünkü noktaya ulaşmasına katkı sundu? Milet, Assos, Efes gibi Batı Anadolu kentleri bilim tarihi açısından neden önemli?

    Fatih Altaylı soruyor; akademisyenler Prof. Dr. Celal Şengör ve Prof. Dr. İlber Ortaylı yanıtlıyor.</p>
  
{% endblock body %}