{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                <p class = "lead"> by {{article.author}}</p>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
            
                {% if article.author == user %}
                <a href="{% url 'article:update' article.id %}" class=" ml-auto btn btn-outline-info">Güncelle</a>
                <a href="{% url 'article:delete' article.id %}" class=" ml-auto btn btn-outline-danger">Sil</a>
              {% endif %}
            
            </header>
            
            <!-- Preview image figure-->
            {% if article.article_image  %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..."></figure>
            {% endif %}
            <!-- Post content-->
            <section class="mb-5">
                {{article.content|safe}}                
            </section>
        </article>
        <a href="javascript:history.back()" class="btn btn-outline-info">Geri</a>
        <hr>
        
      <h4>Yorumlar</h4>
      <hr>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        Bu makaleye herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!
      </div>
      {% endif %}

      <div class="card my-4">
          <h5 class="card-header">Yorum Ekle:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.id %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">İsim</label>
                  {% if user.is_authenticated %}
                  <input name = "comment_author" type="text" class="form-control"  value="{{user}}" id="formGroupExampleInput" readonly>
                  {% else %}
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                  {% endif %}                  
                </div>
              <div class="form-group">
                  {% if messages %}
              
                  {% for message in messages %}

                  {% if message.tags == "info" %}
                  <div class="alert alert-danger">{{ message }}</div>
                  {% else %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endif %}
                  
                  {% endfor %}
              
                  {% endif %}
                  <label for="formGroupExampleInput">Yorum</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Ekle</button>
            </form>
          </div>
        </div>
    </div> 
</div>

  
{% endblock body %}